// Formula-1
@font-face {
  font-family: "Formula1";
  font-weight: 900;
  src: local("Formula1"), url("/fonts/Formula1-Black.ttf") format("woff2"), url("/fonts/Formula1-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Formula1";
  font-weight: bold;
  src: local("Formula1"), url("/fonts/Formula1-Bold.ttf") format("woff2"), url("/fonts/Formula1-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Formula1";
  font-weight: normal;
  src: local("Formula1"), url("/fonts/Formula1-Regular.ttf") format("woff2"), url("/fonts/Formula1-Regular.ttf") format("ttf");
}

// Poppins


// Poppins
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  src: local("Poppins"), url("/fonts/Poppins-Thin.ttf") format("woff2"), url("/fonts/Poppins-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: local("Poppins"), url("/fonts/Poppins-ExtraLight.ttf") format("woff2"), url("/fonts/Poppins-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: local("Poppins"), url("/fonts/Poppins-Light.ttf") format("woff2"), url("/fonts/Poppins-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins"), url("/fonts/Poppins-Regular.ttf") format("woff2"), url("/fonts/Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins"), url("/fonts/Poppins-Medium.ttf") format("woff2"), url("/fonts/Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins"), url("/fonts/Poppins-SemiBold.ttf") format("woff2"), url("/fonts/Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: local("Poppins"), url("/fonts/Poppins-Bold.ttf") format("woff2"), url("/fonts/Poppins-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: local("Poppins"), url("/fonts/Poppins-ExtraBold.ttf") format("woff2"), url("/fonts/Poppins-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins"), url("/fonts/Poppins-Black.ttf") format("woff2"), url("/fonts/Poppins-Black.ttf") format("ttf");
}

