@mixin home-panel-text($color) {
  color: $color;
  font-family: Poppins;
  font-weight: 600;
  font-size: 35px;
  line-height: 49px;
}

@mixin button {
  font-family: Poppins;
  font-weight: 600;
  font-size: 25px;
  line-height: 49px;
  text-align: center !important;
  display: inline;
  padding: 0px 25px;
  color: white;
  background-color: $f1-red;
  border: 1px solid $f1-red;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease;
  margin: 25px 0;

  &:hover {
    color: $f1-red;
    background-color: white;
  }
}

@mixin card {
  background-color: white;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  min-height: 270px;
  cursor: pointer;
  text-decoration: none;

  @media #{map-get($display-breakpoints, 'md-and-down')} {
    min-height: 230px;
  }

  .card-content {
    position: relative;
    z-index: 1;

    h2 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 50px;
      text-shadow: $base-shadow;

      @media #{map-get($display-breakpoints, 'md-and-down')} {
        font-size: 40px;
      }
    }
  }
}
