
.result-card {
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  min-height: 150px;
  box-shadow: $base-shadow;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);

    .corner-image-container {
      left: -30px;
    }

    .driver-image-container {
      height: 250px;
      top: -100px;
    }
  }

  .corner-image-container {
    position: absolute;
    top: -20px;
    left: -20px;
    transition: all 0.3s ease-out;
    transition-delay: 0.1s;

    .position-text {
      color: white;
      font-weight: bold;
      font-size: 40px;
      position: absolute;
      top: 12px;
      left: 15px;
    }
  }

  .text-container {
    height: 100%;
    padding: 0 20% 0 10%;
    min-height: 150px;
    color: $dark-blue;

    @media #{map-get($display-breakpoints, 'md-and-down')} {
      padding: 0 15% 0 115px;
    }

    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      padding: 0 20px 0 115px;
    }

    .driver-name {
      font-weight: bold;
      font-size: 38px;

      @media #{map-get($display-breakpoints, 'md-only')} {
        font-size: 32px;
      }

      @media #{map-get($display-breakpoints, 'xs-only')} {
        direction: rtl;
        font-size: 25px;
      }
    }

    .delta-difference,
    .constructor-name {
      font-size: 25px;

      @media #{map-get($display-breakpoints, 'xs-only')} {
        direction: rtl;
        font-size: 20px;
      }

      @media #{map-get($display-breakpoints, 'md-only')} {
        font-size: 22px;
      }
    }

    .time {
      font-size: 40px;
      font-weight: bold;

      @media #{map-get($display-breakpoints, 'sm-and-down')} {
        margin-left: -115px;
      }
    }

    .delta-difference {
      @media #{map-get($display-breakpoints, 'sm-and-down')} {
        margin-left: -115px;
      }
    }
  }

  .driver-image-container {
    height: 200px;
    width: 100%;
    position: absolute;
    top: -50px;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow-x: hidden;
    border-radius: 10px 0 0 10px;
    pointer-events: none;
    transition: all 0.3s ease-out;
    transition-delay: 0.1s;
    transform-origin: top center;

    .driver-image {
      height: 100%;
      margin-right: -50px;
    }
  }

  .card-body-open {
    height: 355px !important;
  }

  .card-body {
    border-top: 2px solid $dark-blue;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    color: $dark-blue;

    .details-item-title {
      font-weight: bold;
      font-size: 22px;
      border-bottom: 1px solid $dark-blue;
      margin-bottom: 5px;
    }

    .details-item-value {
      font-size: 18px;

      .kmh {
        font-size: 15px;
      }
    }

    .tire-used-image {
      width: 75px;
    }
  }
}


.result-podium {
  @include setResultCardToWhite;
  background-color: $f1-red !important;
}

.result-dnf {
  background-color: #e3e3e3 !important;
}

.fastest-lap {
  @include setResultCardToWhite;
  background-color: #8e4bac !important;
}
