//.move-2 {
//  transform-origin: top center;
//  animation: move 2s linear infinite;
//}

$times: 12;

%move-styles {
  transform-origin: top center;
}

@mixin move-x-list {
  @for $i from 1 through $times {
    .move-#{$i}-s {
      @extend %move-styles;
      animation: move $i + s linear infinite;
    }
  }
}

@include move-x-list;

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
